.notice {
  &-Title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
  }
  &-content {
    margin-bottom: 10px;
  }
  &-files {
    margin-bottom: 10px;
  }
  &-createBy {
    color: #ccc;
  }
}
